.registr{
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 160px auto;
        .registr__text{
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.20000000298023224px;
            text-align: center;
            width: 124px;
            color: #23A6F0;
            // margin: 10px;
        }
        .registr__title{
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0.20000000298023224px;
            text-align: center;
            width: 179px;
            color: #252B42;
            margin: 10px;
        }
        .registr__texts{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.20000000298023224px;
            text-align: center;
            // max-width:469px;
            width: 100%;
            height: auto;
            color: #737373;
        }
        .registr__box{
            margin: 80px;
            .subscribe-form{
                display: flex;
                .email__input{
                    caret-color: blue;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #737373; 
                    background-color: #E6E6E6;                  
                    width: 600px;
                    padding: 15px;
                    border-radius: 5px 0 0 5px ;
                    border: none;
                    outline: none;
                    &::placeholder{
                        color: red;
                    }
                }   
                .subscribe__button{
                    background: #0c68b3;
                    padding: 15px 20px;
                    border-radius:  0 5px 5px  0 ;
                    font-size: 16px;
                    width: 117px;
                    height: 58px;
                    cursor: pointer;
                    border: none;
                    &:hover {
                        background: #1976D2;
                    }
                }
            }  
        }
    }
}
@media (max-width:750px){
    .registr{
        &__container{
           .registr__box{
             .subscribe-form{
                .email__input{
                    width: 450px;
                  }
             }
           } 
        }
    }
}
@media (max-width:650px){
    .registr{
        &__container{
           .registr__box{
             .subscribe-form{
                .email__input{
                    width: 400px;
                   }
                }
            } 
        }
    }
}
@media (max-width:560px){
    .registr{
        &__container{
           .registr__box{
             .subscribe-form{
                .email__input{
                    width: 350px;
                   }
                }
            } 
        }
    }
}
@media (max-width:500px){
    .registr{
        &__container{
           .registr__box{
             .subscribe-form{
                .email__input{
                    width: 300px;
                   }
                }
            } 
        }
    }
}
@media (max-width:428px){
    .registr{
        &__container{
           .registr__box{
             .subscribe-form{
                .email__input{
                    width: 190px;
                   }
                }
            } 
        }
    }
}